
    <nav class="navbar navbar-default my nav" role="navigation" >
            <div class="mycontainer container">
              <div class="navbar-header">
                <div>
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a class="navbar-brand" ng-href="#/">Welcome</a>
                    </li>
                    <li>
                      <a ng-href="#/list"> List</a>
                    </li>
                    <li>
                      <a ng-href="#/about"> About</a>
                    </li>              
                  </ul>
                </div>
              </div>
              
              
            </div>
          </nav>
         
       