<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Crud List</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link id="sitestyle" rel="stylesheet" href="styles/main.css">
  <!--
    <script>
    function cambioStyle(sheet){
      
      document.getElementById('sitestyle').setAttribute('href', sheet);
      localStorage.setItem('themeChoice', sheet);
    }
    </script>
    <script>
    if (localStorage.getItem('themeChoice') === null) {
        themeChoice = 'styles/main.css' ;
        localStorage.setItem('themeChoice', 'styles/main.css');
    } else {
        cambioStyle( localStorage.getItem('themeChoice'));
    };
    </script>
  -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
 
  <!-- endbuild -->
</head>

<body ng-app="listaCrudApp"  >
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here 
cambiar el selector de clases, ponerlo en maincss

  
  -->
  <nav class="my-row" role="toogle theme"> 
   
      <div> 
      <select class="btn btn-danger dropdown-toggle" data-toggle="dropdown"  ng-model="style"> 
          
        <option ng-click="setTheme(original)" value="original">Original</option>
        <option ng-click="setTheme(daft-punk-theme)"  value="daft-punk-theme">Daft Punk Theme</option>
        <option ng-click="setTheme(globant-theme)"  value="globant-theme">Globant Theme</option>
      </select>
    </div>
  </nav>
  <div ng-include="'/views/mynavbar.html'" ng-class="style"></div>
  <div ng-view ng-class="style" ></div>
  <!--AGREGAR EL NG CLASS-->
  
  <div class="footer">
    <div class="container">
      <p>Giorgio Tosti's Crud List</p>
    </div>
  </div>


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    !function (A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->

  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/controllers/list.js"></script>
  <script src="scripts/services/listService.js"></script>
  <script src="Scripts/angular-ui-bootstrap.js"></script> 

  <!--agregar ngmaterial-->
  <!-- endbuild -->
</body>

</html>