<div id="bg">
    <div class="row centrado margin">
        <div class="col">
            <h1>CHOOSE YOUR FAVOURITE</h1>
        </div>
    </div>

    <div class="row">
        <div class="col"><button type="button" routerLink="/curiosity" class="btn btn-outline-warning btn-block btn-height">Curiosity</button></div>
        <div class="col"><button type="button" routerLink="/opportunity" class="btn btn-outline-warning btn-block btn-height">Opportunity</button></div>
        <div class="col"><button type="button" routerLink="/spirit" class="btn btn-outline-warning btn-block btn-height">Spirit</button></div>
    </div>
</div>