<h2> Photo Gallery</h2>
<ng-container>
  <h1>{{rover.name}} Rover</h1> <span> {{rover.camera | camPipe}}</span> 
  <div>
    select Camera
    <select [(ngModel)]="rover.camera">

      <option *ngFor="let c of rover.cameras">{{c}}</option>

    </select>

    <span>  select Date Type
      <select [(ngModel)]='rover.datetype'>
        <option [ngValue]='earth_date'>Earth Date (dd/mm/yyyy)</option>
        <option [ngValue]='sol'>Mars Date (sol)</option>

      </select>
    </span>
    <button (click)="controlDate(rover.datetype)">control</button>
    <button (click)="consoleprint(rover)">consoleprint</button>
    <button (click)="getRoverPics(rover.name, rover.date, rover.camera, rover.datetype)">get photos</button>
    <input type="text" [(ngModel)]='rover.date'>
  </div>
  <app-photo-list [localPhotos]=photos></app-photo-list>
</ng-container>

<!--agregar la validacion para cargar las fotos,
 el imput de numeros para SolDate y el calendario para la EarthDate-->