<h2> Photo Gallery</h2>
<ng-container *ngFor="let r of rovers">
  <div><h1>{{r.name}} Rover</h1>
    select Camera <select [(ngModel)]="r.camera">

      <option *ngFor="let c of r.cameras">{{c}}</option>

    </select>

    <span>select Date Type
      <select [(ngModel)]='r.datetype'>
        <option (NgValue)='earth_date'>Earth Date (dd/mm/yyyy)</option>
        <option (ngValue)='sol'>Mars Date (sol)</option>
        
      </select>
    </span>
    {{datetype}}
    <button (click)="controlDate(r.datetype)">control</button>
    <button (click)="consoleprint(r)">consoleprint</button>
    <button (click)="get-photos(r)">consoleprint</button>
  </div>
  <app-photo-list [photos]=r.camera></app-photo-list>
</ng-container>

//lo mismo hacer con el rover y su padre